* {
    margin: 0;
    padding: 0;
    /* 用宽度和高度来设置盒子可见框的大小 */
    box-sizing: border-box;
}

li {
    list-style: none;
}


/* 选中光标 */

input:focus {
    color: black;
}


/* 取消表单轮廓 */

input {
    outline: none;
}


/* 防止拖拽文本框 */

textarea {
    resize: none;
    height: 40px;
    vertical-align: middle;
}

.w {
    width: 1200px;
    margin: 0 auto;
}

header {
    height: 95px;
    border-bottom: 3px solid #f68488;
}

a {
    text-decoration: none;
    color: #f68488;
}

.registerarea {
    height: 600px;
    border: 1px solid #ccc;
    margin-top: 20px;
}

.registerarea h3 {
    height: 45px;
    border-bottom: 1px solid #ccc;
    background-color: #ececec;
    line-height: 45px;
    padding: 0 10px;
    font-weight: 400;
    font-size: 18px;
}

.login {
    float: right;
    font-size: 14px;
}

.reg_form {
    width: 600px;
    margin: 50px auto 0;
}

.reg_form ul li {
    margin-bottom: 10px;
}

.reg_form ul li .lab {
    display: inline-block;
    width: 100px;
    text-align: right;
}

.reg_form ul li .inp {
    width: 240px;
    height: 40px;
    border: 1px solid #ccc;
}

span {
    margin-right: 30px;
}

.aggre {
    padding-left: 100px;
}

.aggre input {
    vertical-align: middle;
}

.reset {
    margin-left: 140px;
}

.send {
    margin-left: 10px;
}

.btn {
    background-color: #fff;
    border: none;
}

.reg_btn {
    width: 200px;
    height: 40px;
    background-color: #f68488;
    font-size: 14px;
    color: #fff;
    margin-left: 100px;
    cursor: pointer;
}