* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: #3388ff;
}

.search {
    position: relative;
    margin: 0 auto;
    width: 900px;
    height: 100px;
}

.search input {
    position: absolute;
    top:30px;
    left: 210px;
    width: 530px;
    height: 40px;
    font-size:18px;
}

.btn1 {
    position: absolute;
    top: 30px;
    left: 738px;
    width: 100px;
    height: 40px;
    background-color: #3388ff;
    color:#fff;
    border: none;
    font-size:16px;
}

.btn1 a {
    color: #fff;
    font-size:18px;
    text-decoration: none;
}

.btn2 {
    position: absolute;
    top: 30px;
    left: 842px;
    width: 100px;
    height: 40px;
    background-color: #fff;
    border: 1px solid #3388ff;
}

.btn2 a {
    color: #3388ff;
    font-size:18px;
    text-decoration: none;
}

.search>a {
    float: right;
    margin: 45px -75px;
    font-size:14px;
}

.w {
    width: 1140px;
    margin: 30px auto;
    border: 1px solid #e5e5e5;
}

.connent {
    overflow: hidden;
}

.left {
    float: left;
    width: 850px;
}

h1 {
    padding:40px 30px 20px;
}

p{
    font-size: 16px;
    word-wrap: break-word;
    color: #333;
    margin-bottom: 15px;
    text-indent: 2em;
    line-height: 24px;
    margin: 20px 10px;
}

.right {
    float: left;
    width: 280px;
    padding: 25px 3px;
}

.trump {
    width: 268px;
    height: 66px;
    border: 1px solid #d4d4d4;
    margin-top: -5px;
    text-align: center;
    line-height: 66px;
}

.box1 {
    width: 850px;
    overflow: hidden;
}

.box1-1, .box1-2 {
    float: left;
    width: 425px;
    padding: 20px 20px;
}

.box1 li {
    margin: 5px 70px;
}

.box2 {
    width: 850px;
    padding: 10px 20px;
}

.box2 table {
    width: 650px;
    height: 500px;
    border: 1px solid #e6e6e6;
    margin: 15px 0;
    border-collapse: collapse;
}

.box2 thead {
    background-color: #f8f8f8;
}

.box2 table th {
    text-align: center;
}

.box2 table td {
    height: 10px;
    border: 1px solid #e6e6e6;
    text-indent: 1em;
}

.help {
    width: 900px;
    height: 150px;
    margin: 10px auto;

}

.help dl{
    float: left;
    margin:0 80px;
}

dl dt {
    font-size: 20px;
    margin-bottom: 10px;
}

.end {
    float: right;
    margin-top: 136px;
}

.last {
    text-align: center;
}